<ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Time Sheet" icon="ion-clipboard" href="#/tab/timesheet">
            <ion-nav-view name="timesheet-tab"></ion-nav-view>
        </ion-tab>

        <!--<ion-tab title="Ponto" icon="ion-ios7-clock" href="#/tab/ponto">
            <ion-nav-view name="ponto-tab"></ion-nav-view>
        </ion-tab>-->


        <!--<ion-tab title="Sobre" icon="ion-ios7-information" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>-->

        <ion-tab title="Sair" icon=" ion-log-out" href="#/sign-in">
        </ion-tab>


        <!--<ion-tab title="Servicos" ng-if="1==2" icon="ion-ios7-information" href="#/tab/servico">
            <ion-nav-view name="servico-tab"></ion-nav-view>
        </ion-tab>-->

    </ion-tabs>
</ion-view>